@*
@{
  Layout = "_Layout";
}

@using BugTracker.Models;

<h2>Tag Details</h2>
<hr />
<h3>@Html.DisplayName(@Model["Tag"].Name)</h3>

<ul>
@if (@Model["Issues"].Count == 0)
{
  <p>no issues found in this Tag</p>
}

@foreach (Issue issue in @Model["Issues"])
{
  <li>Description: @issue.Description</li>
}
</ul>

<p>@Html.ActionLink("Back to categories", "Index")</p>
*@