@{
  Layout = "_Layout";
}
<h1>Create an Issue!</h1>
@*
@model BugTracker.Models.Issue

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @Html.LabelFor(model => model.Tag)
    @Html.DropDownList("TagId")

    <input type="submit" value="Add new Issue" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Issues", "Index")</p>
*@