
@{
  Layout = "_Layout";
}

@using BugTracker.Models;
@model BugTracker.Models.Issue;

<h4>Add a new issue</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    @* 
    @Html.Label("Select category")
    @Html.DropDownList("TagId") 
    *@

    <input type="submit" value="Add new issue" />
}
<p>@Html.ActionLink("Show All Issues", "Index")</p>